#contactUsForm {
    
    display:flex;
flex-direction: column;
text-align: center;
align-items: center;
justify-content: center;
background-color: rgb(39, 35, 35);
   padding: 20px;
    text-align: center;
     border:1px solid;
 border-radius: 15px;
    width:fit-content;
    margin: 30px auto;
  
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    
    
   
}
.holderDiv{
  
    display:flex;
    flex-direction: column;
    border-color:none;
    /*width:100%;
    margin:0px auto;*/
}
.holderDiv input{
    color:white;
    padding-left: 40px;
    background-color: rgb(46, 44, 44);
    padding-top: 10px;
    width:200px;
}
.holderDiv textarea{
  color:white;
    
}


.firstBlock{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
     gap:30px;
     margin-bottom: 8px;
    
}


.secondBlock{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap:30px;
   
  
}

.name-input{
    position: relative;
}
.name-input i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-color:hsl(152, 94%, 46%);
}


.phone-input {
    position: relative;
}
.phone-input i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color:hsl(152, 94%, 46%);
}

.subject-input {
    position: relative;
}
.subject-input i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color:hsl(152, 94%, 46%);
}

.email-input {
    position: relative;
     
}
.email-input i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color:hsl(152, 94%, 46%);
}

.message-input {
    position: relative;
    text-align: left;
    margin:8px;
 
  
    
    
}

.message-input i {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    color:hsl(152, 94%, 46%);
}

.message-input textarea {
    padding:30px;
    background-color: rgb(46, 44, 44);


}
#message{
    text-align: left;
    margin:10px;
}
.contact-info{
    text-align: left;
     color: hsl(0, 0%, 100%);
    font-size: 1rem;
    margin:5px;
    border-radius: 2px;
    border:none;
    background-color: rgb(46, 44, 44); ;
  
}
.contact-info i{
     color:hsl(152, 94%, 46%);
     margin-right: 5px;
}
#sendMessage{
    border-radius:2px;
    padding:10px;
    border:none;
     background-color:hsl(152, 94%, 46%);
     margin:10px;
     text-align: center;
}
#heading{
    color:hsl(152, 94%, 46%);
    text-align: left;
}
#introText{
    text-align:left;
    color:white;

    }




